# Terraform
**/.terraform/
**/.terraform.lock.hcl
**/terraform.tfstate
**/terraform.tfstate.backup
terraform.tfvars
*.tfvars

# Providers
**/terraform-provider-*

# SSH keys
*.pem

# Ansible cache
**/.ansible/

# OS / editor files
*.swp
*.swo
.DS_Store
